.index{
    padding: var(--padding-primary);
    background-color: white;
    border: var(--border-primary);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.index > div{
    display: flex;
    flex-direction: column;
    position: relative;
}
.index > div > div{
    display: flex;
    align-items: center;
    position: relative;
}
.index > div > span{
    background: var(--backg);
    height: 40px;
    border-radius: var(--border-radius);
    text-align: center;
    border: var(--border-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.index > div > span:hover{
    border: var(--border-secondary);
}
.index > div > div > .search{
    height: 40px;
    background-color: var(--backg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 45px;
    position: absolute;
    left: 0;
    border-radius: 6px 0 0 6px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: var(--border-primary);
}
.index > div > div > .search:hover{
    border: var(--border-secondary);
}
.index .filterDate{
    position: absolute;
    top: 77px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: var(--padding-primary);
    border-radius: 0 0 var(--border-radius);
    border: var(--border-primary);
    gap: 10px;
    border-top: 0;
}
.index .filterDate > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.index .filterDate > div > div{
    display: flex;
    flex-direction: column;
}
.index .filterDate > span{
    background-color: var(--backg);
    width: 100%;
    padding: var(--padding-primary);
    color: white;
    border-radius: var(--border-radius);
    border: var(--border-primary);
    cursor: pointer;
    text-align: center;
}
.index .filterDate > span:hover{
    border: var(--border-secondary);
}
.index .reset{
    justify-content: space-between;
    align-items: center;
}
.index .reset > svg{
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .index{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .index{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 480px) {
    .index{
        display: flex;
        flex-direction: column;
    }
}
